<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <title>Fiche d'un type</title>
</head>
<body>
<div layout:fragment="content" class="container mt-5">

  <h2 class="mb-4">Fiche type</h2>

  <!-- Détails du type -->
  <dl class="row">
    <!-- <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10" th:text="${type.id}">1</dd> -->

    <dt class="col-sm-2">Nom</dt>
    <dd class="col-sm-10" th:text="${type.name}">Comédien</dd>
  </dl>

  <!-- Actions -->
  <div class="d-flex gap-2 mt-4">
    <a th:href="@{/types}"
       class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left"></i>Return to list</a>
    <a th:href="@{/types/{id}/edit(id=${type.id})}" class="btn btn-warning btn-sm">
      <i class="bi bi-pencil"></i>Edit</a>
    <!-- Fragment de confirmation pour suppression -->
    <div th:replace="~{fragments/delete :: deleteForm(${type}, 'types')}"></div>
  </div>
</div>
</body>
</html>
<!-- This template displays the details of a specific type. -->