<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <head>
        <title>Modification d'un artiste</title>
        <style>.fieldError { color: red; }</style>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 th:text="|${artist.firstname}  ${artist.lastname}|">Bob Sull</h1>
                <!--th:action définit l’URL de traitement du formulaire -->
                <!--th:object assigne une entité qui sera mappée avec les champs de formulaire
                dont les attributs th:field correspondent aux propriétés de l’objet -->
                <!--th:method définit la valeur PUT qui n’est pas disponible en HTML-->
                <form th:action="@{/artists/{id}/edit(id=${artist.id})}" th:object="${artist}" th:method="put">
                    <div>
                        <label>Id:</label>
                        <span th:text="${artist.id}">1</span>
                    </div>
                    <div>
                        <label>Firstname:</label>
                        <input type="text" th:field="*{firstname}">
                        <p th:if="${#fields.hasErrors('firstname')}"
                           th:errors="*{firstname}" th:errorclass="fieldError"></p>
                    </div>
                    <div>
                        <label>Lastname:</label>
                        <input type="text" th:field="*{lastname}">
                        <p th:if="${#fields.hasErrors('lastname')}"
                           th:errors="*{lastname}" th:errorclass="fieldError"></p>
                    </div>
                    <div>
                        <button type="submit" th:text="Modifier">Modifier</button>
                        <button type="reset" th:text="Réinitialiser">Réinitialiser</button>
                        <a th:href="${back}">Annuler</a>
                    </div>
                </form>
                <nav><a th:href="@{/artists}">Retour à l'index</a></nav>
            </div>
        </div>
        <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
