<!DOCTYPE html>
<!-- layout:decorate indique que le template index.html héritera du layout main.html -->
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}" >
        <!--  -->
    <head>
        <meta charset="UTF-8">
        <title>Liste des 2 artistes</title>
        <link rel="Stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <!-- layout:fragment présente la partie de code HTML qui est personnalisée : content -->
            <div layout:fragment="content">
                <h1 th:text="${title}">Liste Des Artistes</h1>
                <!-- th:unless permet d’afficher un contenu sauf si la condition est vraie   -->
                <table th:unless="${#lists.isEmpty(artists)}" class = "table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- th:each permet de répéter l’affichage d’un contenu pour chaque élément d’une liste  -->
                        <tr th:each="artist : ${artists}">
                            <td th:text="${artist.firstname}">Bob</td>
                            <td><a th:text="${artist.lastname}" th:href="@{/artists/{id}(id=${artist.id})}">Sull</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>