<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Fiche d'un artiste</title>
</head>
<body>
<div class="container">

    <div layout:fragment="content">

        <h1 class="mb-4">Fiche artiste</h1>
        <!-- Détails de l'artiste -->
        <h2 th:text="|${artist.firstname}  ${artist.lastname}|">Bob Sull</h2>

        <div class="actions d-flex gap-2 mt-4">
            <a th:href="@{/artists}"
               class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left"></i>Return to list</a>
            <a th:href="@{/artists/{id}/edit(id=${artist.id})}"
               class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i>Edit</a>
            <!-- Fragment de confirmation pour suppression -->
            <div th:replace="~{fragments/delete :: deleteForm(${artist}, 'artists')}"></div>
        </div>
    </div>
</div>
</body>
</html>
